@media screen and (max-width: 479px) {
    .clearfix::after { 
        content: ''; 
        display: block; 
        clear: both;
    }
    
    #wrapper {
        width: 200px;
        margin: 0 auto;
    }

    .header {
        height: 200px;
        
    }

    .header .box {
        width: 60px;
        height: 160px;
        position: absolute;
        margin-left: 70px;
    }

    .main .side {
        width: 200px;
        height: 100px;
    }

    .main .contents {
        width: 200px;
        height: 210px;
    }

    .contents .item1 {
        width: 140px;
        position: relative;
        top: 20px;
        left: 30px;
    }

    .contents .item2 {
        width: 140px;
        position: relative;
        top: 30px;
        left: 30px;
    }

    .contents .item3 {
        width: 140px;
        position: relative;
        top: 40px;
        left: 30px;
    }
    
}